<div>
  <%= link_to 'Keep Shopping', listings_path, class: 'button is-warning' %>
</div>
<hr />

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Owner</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.line_items.each do |cart_item| %>
    <tr>
    <% if cart_item.listing.image.attached? == true %>
      <td> <%= image_tag cart_item.listing.image, :size => "100x100" %> </td> 
      <td> <%= cart_item.listing.title %> </td>
      <td> $<%= cart_item.quantity %> </td>
      <td> <%= cart_item.listing.cost %></td>
    <% end %>
  <% end %>
  </tbody>
</table>
Total: <%= @amount %></p>

<% if @amount > 0 %>
<p>
<button> Pay Now </button>
<%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
</p>

<% end %>



<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_Ilh9uzxnptCE3QRvTMqeF6zM00Rp98Il5Q');

    function goToCheckout () {
      stripe.redirectToCheckout({
        sessionId: '<%= @stripe_checkout_session.id if @amount > 0 %>',
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });  
    }
  var button = document.querySelector('button');
  button.addEventListener('click', goToCheckout)
</script>

  